# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
.libs
.deps

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Wireshark files
Makefile
Makefile.in
plugin.c

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDEs
.project
.pydevproject
.settings

# Vagrant files
.vagrant

