# GitHub Action workflows to build and test the plug-in on Windows
#
# Adapted from Wireshark's repository https://github.com/wireshark/wireshark/tree/master/.github/workflows

name: Build Windows plug-in

on: [push]

env:
   WIRESHARK_BRANCH: master-3.2
   WIRESHARK_BASE_DIR: C:/wireshark-libs
   WIRESHARK_QT_VERSION: 5.12.3

jobs:
   intree:
      name: Build in-tree plugin
      runs-on: windows-latest
      steps:
         - name: Checkout Wireshark
           uses: actions/checkout@v2
           with:
              repository: wireshark/wireshark
              ref: ${{ env.WIRESHARK_BRANCH }}
         - name: Checkout plug-in
           uses: actions/checkout@v2
           with:
              path: plugins/epan/sap
         - name: Apply patch
           run: |
              git apply plugins/epan/sap/wireshark-${{ env.WIRESHARK_BRANCH }}.patch
         - name: Choco install
           run: cinst -y --force --no-progress asciidoctorj xsltproc docbook-bundle winflexbison3 cmake nsis
         - name: Install strawberryperl
           run: |
              choco install strawberryperl
              echo "##[add-path]C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"
         - name: Install Qt
           uses: jurplel/install-qt-action@v2
           with:
              version: ${{ env.WIRESHARK_QT_VERSION }}
         - name: Add msbuild to PATH
           uses: microsoft/setup-msbuild@v1.0.0
           with:
              vs-version: 16.4
         - name: Set MSVC command prompt
           uses: ilammy/msvc-dev-cmd@v1
         - name: Mkdir
           run: mkdir build
         - name: Cmake
           run: cmake -A x64 ..
           env:
              PLATFORM: x64
              QT5_BASE_DIR: C:/Qt/${{ env.WIRESHARK_QT_VERSION }}/msvc2017_64
           working-directory: build
         - name: Build
           run: cmake --build . --config RelWithDebInfo
           working-directory: build

         - name: Build Windows pkg
           run: |
              msbuild /m /p:Configuration=RelWithDebInfo nsis_package_prep.vcxproj
              msbuild /m /p:Configuration=RelWithDebInfo nsis_package.vcxproj
           working-directory: build
         - name: Move Windows packages
           run: |
              mkdir exe
              mv build/packaging/nsis/*exe exe/
         - name: Move plugin dll
           run: |
              mv build/run/RelWithDebInfo/plugins/3.2/epan/sap.dll exe/sap.dll
         - name: Upload Windows packages
           uses: actions/upload-artifact@v1
           with:
              name: packages
              path: exe