# GitHub Action workflows to build and test the plug-in on Windows
#
# Adapted from Wireshark's repository https://github.com/wireshark/wireshark/tree/master/.github/workflows

name: Build and test Windows plug-in

on: [push, pull_request]

env:
   WIRESHARK_BRANCH: release-3.4
   WIRESHARK_BASE_DIR: C:/wireshark-libs
   WIRESHARK_QT_VERSION: 5.15.1

jobs:
   intree:
      name: Build in-tree plugin
      runs-on: windows-latest
      steps:
         - name: Checkout Wireshark
           run: |
              mkdir -p wireshark
              cd wireshark
              git init
              git remote add -t "${{ env.WIRESHARK_BRANCH }}" -f origin https://gitlab.com/wireshark/wireshark.git
              git checkout ${{ env.WIRESHARK_BRANCH }}
         - name: Checkout plug-in
           uses: actions/checkout@v2
           with:
              path: wireshark/plugins/epan/sap
         - name: Apply patch
           run: |
              cd wireshark
              git apply plugins/epan/sap/wireshark-${{ env.WIRESHARK_BRANCH }}.patch
         - name: Choco install
           run: cinst -y --force --no-progress asciidoctorj xsltproc docbook-bundle cmake nsis
         - name: Install winflexbison3
           run: cinst -y --force --no-progress winflexbison3 --version 2.5.18.20190508
         - name: Install strawberryperl
           uses: shogo82148/actions-setup-perl@v1
           with:
              perl-version: '5.30'
              distribution: strawberry
         - name: Install Qt
           uses: jurplel/install-qt-action@v2
           with:
              version: ${{ env.WIRESHARK_QT_VERSION }}
         - name: Add msbuild to PATH
           uses: microsoft/setup-msbuild@v1.0.2
           with:
              vs-version: 16.4
         - name: Set MSVC command prompt
           uses: ilammy/msvc-dev-cmd@v1
         - name: Mkdir
           run: mkdir build
         - name: Cmake
           run: cmake -A x64 ..
           env:
              PLATFORM: x64
              QT5_BASE_DIR: C:/Qt/${{ env.WIRESHARK_QT_VERSION }}/msvc2019_64
           working-directory: build

         - name: Build
           run: cmake --build . --config RelWithDebInfo
           working-directory: build
         - name: Build Windows pkg
           run: |
              msbuild /m /p:Configuration=RelWithDebInfo nsis_package_prep.vcxproj
              msbuild /m /p:Configuration=RelWithDebInfo nsis_package.vcxproj
           working-directory: build

         - name: Install dependencies for testing
           run: |
              choco install vcpython27 -f -y
         - name: Set up Python
           uses: actions/setup-python@v2
           with:
              python-version: 2.7
         - name: Install Python packages for testing
           run: |
              python -m pip install --upgrade pip setuptools wheel
              pip install pyshark-legacy https://github.com/SecureAuthCorp/pysap/archive/master.zip
              pip install --upgrade trollius==2.2.post1
         - name: Run tests
           run: |
              cd plugins/epan/sap/
              python tests/__init__.py
           env:
              TSHARK_PATH: ${{ github.workspace }}\build\run\RelWithDebInfo\tshark.exe

         - name: Move Windows artifacts
           run: |
              mkdir exe
              mv build/packaging/nsis/*exe exe/
         - name: Move plugin dll
           run: |
              mv build/run/RelWithDebInfo/plugins/3.4/epan/sap.dll exe/sap.dll
         - name: Upload Windows artifacts
           uses: actions/upload-artifact@v2
           with:
              name: packages
              path: exe

   release:
      name: Release
      runs-on: windows-latest
      needs: intree
      env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event_name == 'push' && startsWith(github.ref, 'v') }}
      steps:
         - name: Download Windows artifacts
           uses: actions/download-artifact@v2
           with:
              name: packages
              path: exe
         - name: Create a release
           id: create_release
           uses: actions/create-release@v1
           with:
              tag_name: ${{ github.ref }}
              release_name: SAP Plug-in for Wireshark ${{ github.ref }}
              draft: true
              prerelease: false
         - name: Upload release asset
           uses: actions/upload-release-asset@v1
           with:
              upload_url: ${{ steps.create_release.outputs.upload_url }} 
              asset_path: exe/sap.dll
              asset_name: sap-${{ github.ref }}-win64.dll
              asset_content_type: application/x-msdownload
